.othello_board{
    width:500px;
    height:500px;
}
.othello_board div{
  width:48px;
  float:right;
}
.othello_board div div{
  border:1px solid #d1d8de;
  height:48px;
  width:48px;
}
.othello_board div div span{
  position:relative;
  top:30%;
  margin-left:40%;
  font-size:20px;
  font-weight:bold;
}
.othello_board div .inside span{
  color:#000000;
  background-color: #000000;
  top: 20%;
  padding-top: 10%;
  border-radius: 50%;
  margin-left: 15%;
  margin-right: 15%;
  box-shadow: 1px 4px 1px 0px #757070;
  display: none;
}
.outside{
  background-color:#d1d8de;
}
.inside{
  background-color:#f0f3f5;
}
button{
  border:1px solid transparent;
  background-color: #173d9a;
  color:#FFFFFF;
  padding: 10px;
  border-radius: 10%;
}
